<div id="refs" class="references" role="doc-bibliography">
<div id="ref-Blake2015b">
<p>Blake, A. B., &amp; Castel, A. D. (2015). Metamemory. In S. K. Whitbourne (Ed.), <em>The encyclopedia of adulthood and aging</em> (1st ed., pp. 1–5). Hoboken, NJ: John Wiley &amp; Sons, Inc. <a href="https://doi.org/10.1002/9781118521373.wbeaa043">https://doi.org/10.1002/9781118521373.wbeaa043</a></p>
</div>
<div id="ref-Castel2015">
<p>Castel, A. D., Nazarian, M., &amp; Blake, A. B. (2015). Attention and incidental memory in everyday settings. In J. M. Fawcett, E. F. Risko, &amp; A. Kingstone (Eds.), <em>The handbook of attention</em> (pp. 463–483). Cambridge, MA: MIT Press.</p>
</div>
</div>
