<div id="refs" class="references" role="doc-bibliography">
<div id="ref-Blake2019"><p>Blake, A. B., Chrabaszcz, J. R., Son, J. Y., &amp; Stigler, J. W. (2019). Supernova. Retrieved from <a href="https://github.com/UCLATALL/supernova">https://github.com/UCLATALL/supernova</a></p></div>
<div id="ref-Garcia2016"><p>Garcia, M. A., Kerr, T. K., Blake, A. B., &amp; Haffey, A. T. (2016). Collector. Retrieved from <a href="https://github.com/gikeymarcia/Collector">https://github.com/gikeymarcia/Collector</a></p></div>
</div>
